@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:#2F363F;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color: #4C4B4B;
	letter-spacing: 0.5px;
}
h2{
	color: #4C4B4B;
	letter-spacing: 0.5px;
	font-family: raleway;
}
.navigation-custom{
	background-color: #f37e20;

}
.navigation-custom a{
color:white !important;
}
.container {
	display: inline-block;
	cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
  }
  
  .change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
  }
 